
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <div class="card-header">
        Roles
    </div>
    <div class="card-body">
        <div class="demo-container" style="align-self: center;display: flex;justify-content: center;">
            <div id="data-grid-demo">
                <div id="gridContainer" style="width:100%"></div>
            </div>
        </div>
    </div>
</div>
<script>
  var Roled = @Html.Raw(Json.Encode(ViewBag.RoleData));
</script>
<script src="~/Scripts/Role.js"></script>
