<link href="~/Content/ScreenSize.css" rel="stylesheet" />
@{
    var name1 = ViewBag.WeeklyGraphName;
    var shownameweek = name1.Replace(" ", "") + "_Week";
    var yedata = Html.Raw(Json.Encode(ViewBag.weekData));
    var unit = ViewBag.gUnit;

    <div class="demo-container">
        <div id="chart-demo">
            <div id="Yesterday_@shownameweek" class="graph">

            </div>
        </div>
    </div>
    <script>
        var @shownameweek = @Html.Raw(Json.Encode(ViewBag.weekData));

        var types = ["line", "stackedline", "fullstackedline"];

        $(function () {
           @*$("#Yesterday_@shownameweek").dxChart("render", { force: true });
        $("#Yesterday_@shownameweek").dxChart("render", { asyncSeriesRendering: false});*@

        //$("#Yesterday_@shownameweek").dxChart("render", { force: true });



        });
         var chart = $("#Yesterday_@shownameweek").dxChart({
        palette: "Violet",
            dataSource: @shownameweek,
            commonSeriesSettings: {
                argumentField: "Time",
                type: types[0]
            },

            margin: {
            bottom: 20
            },
            argumentAxis: {
                title: {
                    text: 'Date'
                },
            valueMarginsEnabled: false,
                discreteAxisDivisionMode: "crossLabels",
                grid: {
                visible: true
                }
            },
            series: [
                { valueField: "min", name: "Minimum" },
                { valueField: "max", name: "Maximum" },
                { valueField: "avg", name: "Average" },
            ], valueAxis: [{
                title: "@name1 (@unit)",
            }],
            scrollBar: {
                visible: true
            },
            zoomAndPan: {
                argumentAxis: "both"
            },
            legend: {
            verticalAlignment: "bottom",
                horizontalAlignment: "center",
                itemTextPosition: "bottom"
            },
            "export": {
            enabled: true
            },
            tooltip: {
            enabled: true
            }
        });
      
    </script>}

