<link href="~/Content/ScreenSize.css" rel="stylesheet" />
@{
    var name1 = ViewBag.YesterdayGraphName;
    var shownameyesterday = name1.Replace(" ", "")+"_Yesterday";
    var yedata = Html.Raw(Json.Encode(ViewBag.yesData));
    var unit = ViewBag.YesgUnit;
    
      <div class="demo-container">
        <div id="chart-demo">
     <div id="Yesterday_@shownameyesterday" class="graph">

        </div>
            </div>
          </div>
        <script>
        var @shownameyesterday = @Html.Raw(Json.Encode(ViewBag.yesData));

    var types = ["line", "stackedline", "fullstackedline"];
    $(function() {
        var chart = $("#Yesterday_@shownameyesterday").dxChart({
        palette: "Violet",
            dataSource: @shownameyesterday,
            commonSeriesSettings: {
                argumentField: "Time",
                type: types[0]
            },
            margin: {
            bottom: 20
            }, 
               
            argumentAxis: {
            valueMarginsEnabled: false,
                discreteAxisDivisionMode: "crossLabels",
                grid: {
                visible: true
                },
                title: {
                    text: 'Time'
                },
            },
            series: [
                { valueField: "value", name: "@name1" },
            ],valueAxis: [{
                title: "@name1 (@unit)",
            }],
            scrollBar: {
                visible: true
            },
            zoomAndPan: {
                argumentAxis: "both"
            },
            legend: {
            verticalAlignment: "bottom",
                horizontalAlignment: "center",
                itemTextPosition: "bottom"
            },
            
            "export": {
            enabled: true
            },
            tooltip: {
            enabled: true
            }
        }).dxChart("instance");

        $("#types").dxSelectBox({
        dataSource: types,
            value: types[0],
            onValueChanged: function(e) {
                chart.option("commonSeriesSettings.type", e.value);
            }
        });
       
            });
          
        </script>}

